@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}

.v-main {
  min-height: 100vh;
  background: #EFEEEEFC;
}

.custom-table {
  border-radius: 18px;

  thead {
    background: rgba(206, 207, 208, 0.65);
  }
}

.table-btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &.search-btn {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.26);
  }
  
  &.red-btn {
    background-color: #FE0000;
    color: white;
    border: none;
  }
  
  &.green-btn {
    background-color: rgba(29, 207, 36, 0.88);
    color: white;
    border: none;
  }
}

.table-image {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.product-page-container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}

.product-summary {
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.card-blue {
    color: white;
    background: linear-gradient(0deg, #06177A, #06177A);
    box-shadow: 0px 4px 4px 0px #071C9640;
  }

  &.card-red {
    color: white;
    background: rgba(246, 1, 1, 1);
    box-shadow: 0px 4px 4px 0px rgba(246, 89, 1, 0.25);
  }

  &.card-brown {
    color: black;
    background: linear-gradient(0deg, #CFBB03, #CFBB03);
    box-shadow: 0px 4px 4px 0px rgba(207, 187, 3, 0.25);
  }
}
